<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<style type="text/css">
			body {
				margin: 0;
				background: #F4F1F8;
			}
			caption {
				font-family: annabelle, cursive;
				font-weight: bold;
				font-size: 2em;
				padding: 10px;
				color: #F3CD26;
				text-shadow: 1px 1px 0 rgba(0,0,0,.3);
			 }
			caption:before, caption:after {
				content: "\274B";
				color: #A9E2CC;
				margin: 0 10px;
			}
		</style>
	</head>
	<body>
		<h1>
			404
			<br>
			Not Found
		</h1>
	</body>
</html>